body {
  background-color: #222c36;
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0
}

.webgl-content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .footer {
  margin-top: 5px;
  height: 38px;
  line-height: 38px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
}

.webgl-content .footer .title, .fullscreen {
  height: 100%;
  display: inline-block;
  background: transparent center no-repeat;
}

.webgl-content .footer .title {
  margin-right: 10px;
  float: right;
}

.webgl-content .footer .fullscreen {
  background-image: url('fullscreen.png');
  width: 38px;
  float: right;
}

#loader {
  background-color: #222c36;
  z-index: 99;

  width: 100%;
  height: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.loaded {
  background-color: white !important;
  outline: 1px black solid;
}

#msg {
  color: white;
  font-size: 30px;
  font-family: Arial;
  font-style: italic;
  background-color: #222c36;
  margin: auto;
}

.spinner {
  background-color: #222c36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner > .rect {
  box-shadow: 2px 2px 2px black;
  background-color: #333;
  height: 100px;
  width: 10px;
  margin: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner .rect9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#setHeader {
  text-align: center;
}

#setHeader > p {
  color: white;
  font-size: 30px;
  display: inline-block;
}
