{% extends "template_admin.html" %}
{% block head %}
{% endblock %}

{% block content %}

    <div class="question">
        <div class="padding">
            <ul>
                {% for r in results %}
                    <li>
                        <b>{{ r['function'] }}()</b>
                        &mdash;
                        {% if r['success'] %}
                        <span style="color: green;">Success!</span>
                        {% else %}
                        <span style="color: red;">Failure :(</span>
                        {% endif %}

                        {% if r['error'] != '' %}
                        <div class="error-box">
                            <span style="font-family: 'Lucida Console', Monaco, monospace">{{ r['error'] }}</span>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}