<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Redline</title>
    <link rel="stylesheet" href="{{ url_for('redline.static', filename='style.css') }}">
    <script src="{{ url_for('redline.static', filename='Build/UnityLoader.js') }}"></script>
    <script src="{{ url_for('redline.static', filename='UnityProgress.js') }}"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{{ url_for('redline.static', filename='Build/public.json') }}", {onProgress: UnityProgress});
	console.log( "RUNNING GAME VERSION: {{VERSION}}" );
    </script>
  </head>
  <body>
  <div id="setHeader">
    <p>Game play session {{SET + 1}} out of 3</p>
  </div>
  <div id="loader" >
    <div class="spinner">
      <div class="rect rect1"></div>
      <div class="rect rect2"></div>
      <div class="rect rect3"></div>
      <div class="rect rect4"></div>
      <div class="rect rect5"></div>
      <div class="rect rect6"></div>
      <div class="rect rect7"></div>
      <div class="rect rect8"></div>
      <div class="rect rect9"></div>
    </div>
  </div>

    <div class="webgl-content">
      <div id="gameContainer"
      style="width: 960px; height: 600px; margin: auto;"></div>
    </div>

    <script>
      function GetParams() {

        var params = {
          pid: {{PID}},
          set: {{SET}},
          condition: {{CONDITION}},
          gender: {{SEX}}
        };

        return params;
      }
  </script>
  </body>
</html>
