{% extends "template.html" %}
{% block head  %}
{% endblock %}

{% block content %}

    <form id="form" action="{{ url_for('submit') }}" method="post">
        <div class="question">
            <div class="padding">
                <h3>Instructions</h3>
                <p>Please read the following instructions carefully, before you agree to participate.</p>

                <ul>
                  <li>In the remainder of this HIT you'll answer questionnaires and play a game.</li>
                  <li>Each questionnaire includes a separate set of instructions that you need to read carefully.</li>
                  <!--<li>To play the game, Unity needs to be pre-installed on your computer.</li>-->
                  <li>Overall, the task will take approximately <b>30 minutes</b> to complete, and pays <b>$5</b>.</li>
                  <li>Submitted HITs will be reviewed for approval within 3 days.</li>
                  <li>We expect that you will answer the presented questions quickly, but thoughtfully. Answer all questions to your best knowledge, but don't spend too much time on one item.</li>
                  <li>Excerpts from text-based responses may be used in the dissemination of research results in scholarly journals or at scholarly conferences.</li>
                  <li>Feel free to ask for clarification. If you have further questions concerning matters related to this research, please contact:  
                  <i>Joshua Roberts, Masters Student, Faculty of Computer Science, University of New Brunswick, <a href="jrober17@unb.ca">jrober17@unb.ca</a></i></li>
                </ul> 
		<br>
          	<div class="navigation padding">
              		<div style="float: right">
                		<input id="btnNext" type="submit" value="Continue">
              		</div>
              		<div style="clear: both"></div>
          		</div>

        </div>
    </form>
	
{% endblock %}
